python-telegram-bot==20.3
pandas==2.1.4  # نسخه سازگار با Python 3.12
numpy==1.26.4  # نسخه سازگار با pandas 2.1.4
apscheduler==3.10.1
persiantools==5.2.0
openpyxl==3.1.2
pillow==10.2.0
requests==2.31.0
jdatetime==4.1.0
setuptools>=65.5.0
